@import "../../../../styles/colors";

.info {
  display: flex;
  height: 100%;
  min-width: 300px;
  flex-direction: column;
  border-left: 2px solid $PRIMARY_THEME_COLOR;
  padding: 10px 40px;
  color: $PRIMARY_TEXT_COLOR;

  &__title {
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
  }

  &__item {
    height: 45px;
    width: 300px;
    padding: 10px 0px;
    border-bottom: 1px solid $SECONDARY_TEXT_COLOR;
    margin: 5px 10px;
  }

  &-item-label {
    font-size: 11px;

    & > span {
      font-size: 10px;
      color: $SECONDARY_TEXT_COLOR;
      padding-left: 5px;
    }
  }
  &-item-value {
    display: inline;
    font-size: 25px;
    font-weight: bolder;
  }
  &-item-share {
    display: flex;
    font-size: 23px;
    float: right;
    font-weight: 500;

    &-change {
      display: flex;
      flex-direction: column;
      font-size: 18px;

      & > span {
        font-size: 9px;
        padding-left: 7px;
      }

      &.positive {
        & > svg {
          padding-right: 3px;
        }
        & .arrow {
          transform: rotate(180deg);
        }
      }

      &.negative {
        & > span {
          padding-top: 2px;
        }
        & > svg {
          padding-left: 3px;
        }
        & .arrow {
          transform: rotate(0deg);
        }
      }
    }

    &.positive {
      color: $POSITIVE_TEXT_COLOR;
    }
    &.negative {
      color: $NEGATIVE_TEXT_COLOR;
    }

    & .arrow {
      fill: currentColor;
      width: 1em;
      height: 1em;
    }
  }
}
