@import "../../styles/colors";

.sidebar-info {
  &__item {
    height: 60px;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    border-bottom: 1px solid $SECONDARY_TEXT_COLOR;

    &__title {
      color: $PRIMARY_TEXT_COLOR;
      font-size: 12px;

      & > span {
        color: $SECONDARY_TEXT_COLOR;
        padding-left: 5px;
      }
    }
    &__value {
      color: $PRIMARY_THEME_COLOR;
      font-size: 18px;
      font-weight: bolder;
    }
  }
}
