@import "../../styles/colors";

.sidebar {
  display: flex;
  flex-direction: column;
  background: $MAIN_DARK_THEME_COLOR;
  width: 240px;
  position: relative;
  color: $PRIMARY_TEXT_COLOR;
  overflow: auto;

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__tree {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
