@import "../../../../styles/colors";

.legend {
  display: flex;
  width: 200px;
  height: 100%;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 10px;

    &.active {
      &.barley {
        background: $SELECTED_BARLEY;
      }
      &.sidereal_pairs {
        background: $SELECTED_SIDEREAL_PAIRS;
      }
      &.winter_weat {
        background: $SELECTED_WINTER_WEAT;
      }
      &.spring_weat {
        background: $SELECTED_SPRING_WEAT;
      }
      &.sugar_beer {
        background: $SELECTED_SUGAR_BEER;
      }
      &.soybeans {
        background: $SELECTED_SOYBEANS;
      }
      &.sunflowers {
        background: $SELECTED_SUNFLOWERS;
      }
    }
  }

  &__crop {
    width: 95px;
    height: 10px;
    margin-bottom: 10px;

    &__label {
      width: 90px;
      text-align: center;
    }

    &.barley {
      color: $BARLEY;
      background: $BARLEY;
    }
    &.sidereal_pairs {
      color: $SIDEREAL_PAIRS;
      background: $SIDEREAL_PAIRS;
    }
    &.winter_weat {
      color: $WINTER_WEAT;
      background: $WINTER_WEAT;
    }
    &.spring_weat {
      color: $SPRING_WEAT;
      background: $SPRING_WEAT;
    }
    &.sugar_beer {
      color: $SUGAR_BEER;
      background: $SUGAR_BEER;
    }
    &.soybeans {
      color: $SOYBEANS;
      background: $SOYBEANS;
    }
    &.sunflowers {
      color: $SUNFLOWERS;
      background: $SUNFLOWERS;
    }
  }

  & .arrow-down {
    width: 0;
    height: 0;
    margin-top: 10px;
    margin-left: 38px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 6px solid;
  }
}
