@import "../../styles/colors";

.header {
  z-index: 1;
  font-size: 14px;

  &.MuiAppBar-root {
    box-shadow: none;
    border-bottom: 1px solid $SECONDARY_TEXT_COLOR;
  }

  &__employee {
    color: $PRIMARY_TEXT_COLOR;
  }
  &__employee-text {
    color: $SECONDARY_TEXT_COLOR;
    margin-right: 10px;
  }
}
