@import "../../styles/colors";

.header-params {
  &__select {
    width: 140px;

    &.MuiFormControl-root {
      margin: 5px;
    }
    & .MuiFormLabel-root {
      color: $SECONDARY_TEXT_COLOR;
      font-size: 0.7rem;
      margin-top: 5px;
    }
    & .MuiInputBase-root {
      color: $PRIMARY_TEXT_COLOR;
      opacity: 0.87;
      font-size: 0.8rem;
    }
    & .MuiSelect-icon {
      color: $PRIMARY_TEXT_COLOR;
    }
  }

  &__switch {
    &.MuiFormControlLabel-root {
      margin-left: 0px;
    }

    & span {
      font-size: 0.8rem;
      & .MuiSwitch-switchBase {
        color: $PRIMARY_TEXT_COLOR;
      }
      & .Mui-checked {
        color: $PRIMARY_THEME_COLOR;
      }
    }
  }
}
