@import "../../../../styles/colors";

.po-button-group {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  color: $PRIMARY_THEME_COLOR;

  &__title {
    margin-right: 10px;
    margin-top: 8px;

    & span {
      color: $SECONDARY_TEXT_COLOR;
      margin-left: 30px;
    }
  }

  & button {
    color: $PRIMARY_THEME_COLOR;
    background: $PRIMARY_TEXT_COLOR;
    border: 1px solid $MAIN_DARK_THEME_COLOR;
    font-weight: 600;
    text-transform: none;

    &:hover {
      background: $SECONDARY_TEXT_COLOR;
    }
  }

  & .disactive {
    color: $PRIMARY_BACKGROUND_COLOR;
    background: $SECONDARY_TEXT_COLOR;
  }
}
