@import "../../styles/colors";

.key-target-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__sidebar {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    background: $MAIN_DARK_THEME_COLOR;
  }
}

.page-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $PRIMARY_BACKGROUND_COLOR;
  color: $PRIMARY_TEXT_COLOR;
  margin-top: 20px;

  &__title {
    color: $SECONDARY_TEXT_COLOR;
    height: 30px;
    text-align: center;
    padding-top: 20px;
  }
  &__content {
    display: flex;
    flex-direction: row;
  }
}
